<template>
  <v-container 
    fill-height 
    fluid 
    grid-list-xl>
    <v-layout 
      justify-center 
      wrap>
      <v-flex md12>
        <material-card color="primary">
          <template slot="header">New Tour</template>
          <form-wizard
            shape="circle"
            color="teal "
            error-color="#e74c3c"
            title
            subtitle
            @on-complete="onComplete"
            @on-loading="loading"
            @on-validate="onComplete"
          >
            <!-- @on-error="handleErrorMessage" -->
            <template slot="title"/>
            <!-- :before-change="validateAsync" -->
            <tab-content 
              title="Basic Info" 
              icon="ti-info-alt">
              <v-layout wrap>
                <v-flex xs6>
                  <v-text-field
                    v-validate="formValidate.name"
                    :counter="40"
                    v-model="form['name']"
                    :error-messages="errors.collect($t('fields.name'))"
                    :name="$t('fields.name')"
                    :label="$t('fields.name')"
                  />
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-validate="formValidate.alias"
                    v-model="form['alias']"
                    :loading="loading"
                    :error-messages="errors.collect($t('fields.alias'))"
                    :name="$t('fields.alias')"
                    :label="$t('fields.alias')"
                  />
                </v-flex>
                <v-flex xs4>
                  <v-select
                    v-validate="formValidate.type"
                    :items="type"
                    v-model="form['type']"
                    :error-messages="errors.collect($t('fields.type'))"
                    :name="$t('fields.type')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.type')"
                    item-text="name"
                    item-value="value"
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <!-- //// -->
                <v-flex xs4>
                  <v-text-field
                    v-validate="formValidate.min_age"
                    v-model="form['min_age']"
                    :error-messages="errors.collect($t('fields.min_age'))"
                    :name="$t('fields.min_age')"
                    :label="$t('fields.min_age')"
                    type="number"
                  />
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    v-validate="formValidate.max_age"
                    v-model="form['max_age']"
                    :error-messages="errors.collect($t('fields.max_age'))"
                    :name="$t('fields.max_age')"
                    :label="$t('fields.max_age')"
                    type="number"
                  />
                </v-flex>
                <!-- //// -->
                <v-flex xs6>
                  <v-autocomplete
                    v-validate="formValidate.country"
                    :items="countries"
                    v-model="form['country_id']"
                    :error-messages="errors.collect($t('fields.country'))"
                    :name="$t('fields.country')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.country')"
                    item-text="name"
                    item-value="id"
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <v-flex xs6>
                  <v-autocomplete
                    v-validate="formValidate.location"
                    :items="locations"
                    v-model="form['location_id']"
                    :error-messages="errors.collect($t('fields.location'))"
                    :name="$t('fields.location')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.location')"
                    :loading="loadingLocation"
                    item-text="name"
                    item-value="id"
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <!-- ////////////////////    -->
               
                <!-- <v-flex xs4>
                  <v-text-field
                    v-validate="formValidate.capacity"
                    v-model="form['capacity']"
                    :error-messages="errors.collect($t('fields.capacity'))"
                    :name="$t('fields.capacity')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.capacity')"
                    type="number"
                  />
                </v-flex> -->
                <v-flex md12>
                  <v-textarea
                    v-validate="formValidate.excerpt"
                    v-model="form['excerpt']"
                    :error-messages="errors.collect($t('fields.excerpt'))"
                    :name="$t('fields.excerpt')"
                    :label="$t('fields.excerpt')"
                    counter="250"
                  />
                </v-flex>
                <v-flex 
                  xs6 
                  md12>
                  <!-- <v-textarea 
                    v-validate="formValidate.description" 
                    v-model="form['description']" 
                    :error-messages="errors.collect($t('fields.description'))"
                    :name="$t('fields.description')"
                  :label="$t('fields.description')"/>-->
                  <quill-editor 
                    v-model="form['description']"
                  />
                  <!-- <wysiwyg v-model="form['description']"/> -->
                </v-flex>
              </v-layout>
            </tab-content>
            <tab-content 
              title="Additional Info" 
              icon="ti-info">
              <v-layout 
                wrap 
                justify-center>
                <v-flex md6>
                  <v-layout 
                    wrap 
                    justify-center 
                    align-center>
                    <v-flex xs10>
                      <div :class="{'drop-active drop-area': !files.length}">
                        <file-upload
                          ref="upload"
                          :drop="true"
                          :drop-directory="false"
                          v-model="files"
                          :headers="{'X-CSRF-TOKEN': csrf}"
                          name="image"
                          post-action="/upload/image"
                          @input-file="inputFile"
                          @input-filter="inputFilter"
                        >
                          <template v-if="files.length">
                            <v-img 
                              ref="editImage" 
                              :src="files[0].blob" 
                              height="300" 
                              contain/>
                            
                            <v-progress-linear
                              v-if="$refs.upload.active == true"
                              :value="files[0].progress"
                              color="primary"
                              height="5"
                            />
                          </template>
                          <template v-else>
                            <v-icon x-large>mdi-publish</v-icon>
                            <p class="font-weight-regular title">Featured Image</p>
                          </template>
                        </file-upload>
                      </div>
                    </v-flex>
                    <v-flex 
                      v-if="files.length" 
                      xs2>
                      <v-tooltip bottom>
                        <v-btn
                          v-if="!$refs.upload || !$refs.upload.active"
                          slot="activator"
                          class="text-xs-center"
                          fab
                          color="primary"
                          @click.prevent="$refs.upload.active = true"
                        >
                          <v-icon 
                            small 
                            dark>mdi-content-save-outline</v-icon>
                        </v-btn>
                        <span>Save image</span>
                      </v-tooltip>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs6>
                  <v-select
                    v-validate="formValidate.length"
                    :items="lengths"
                    v-model="form['length']"
                    :error-messages="errors.collect($t('fields.duration'))"
                    :name="$t('fields.duration')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.duration')"
                    item-text="name"
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <v-flex xs6>
                  <v-select
                    v-validate="formValidate.group_type"
                    :items="group_types"
                    v-model="form['group_type']"
                    :error-messages="errors.collect($t('fields.group_type'))"
                    :name="$t('fields.group_type')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.group_type')"
                    item-text="name"
                    item-value="id"
                    multiple
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <v-flex xs6>
                  <v-select
                    v-validate="formValidate.day_time"
                    :items="day_times"
                    v-model="form['day_time']"
                    :error-messages="errors.collect($t('fields.day_time'))"
                    :name="$t('fields.day_time')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.day_time')"
                    item-text="name"
                    item-value="id"
                    multiple
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <v-flex md6>
                  <v-combobox
                    v-model="selected_tags"
                    :filter="filter"
                    :hide-no-data="!search"
                    :items="tags"
                    :search-input.sync="search"
                    hide-selected
                    item-text="name"
                    item-value="id"
                    label="Tags"
                    multiple
                    small-chips
                  >
                    <template slot="no-data">
                      <v-list-tile>
                        <span class="subheading">Create</span>
                        <v-chip 
                          label 
                          small>{{ search }}</v-chip>
                      </v-list-tile>
                    </template>
                    <template
                      v-if="item === Object(item)"
                      slot="selection"
                      slot-scope="{ item, parent, selected }"
                    >
                      <v-chip 
                        :selected="selected" 
                        label 
                        small>
                        <span class="pr-2">{{ item.name }}</span>
                        <v-icon 
                          small 
                          @click="parent.selectItem(item)">mdi-close</v-icon>
                      </v-chip>
                    </template>
                    <template 
                      slot="item" 
                      slot-scope="{ index, item, parent }">
                      <v-list-tile-content>
                        <v-text-field
                          v-if="editing === item"
                          v-model="editing.name"
                          autofocus
                          flat
                          background-color="transparent"
                          hide-details
                          @keyup.enter="edit(index, item,'tag')"
                        />
                        <v-chip
                          v-else
                          :color="`${item.color} lighten-3`"
                          dark
                          label
                          small
                        >{{ item.name }}</v-chip>
                      </v-list-tile-content>
                      <v-spacer/>
                      <v-list-tile-action @click.stop>
                        <v-btn 
                          icon 
                          @click.stop.prevent="edit(index, item,'tag')">
                          <v-icon>{{ editing !== item ? 'mdi-pencil' : 'mdi-check' }}</v-icon>
                        </v-btn>
                      </v-list-tile-action>
                    </template>
                  </v-combobox>
                </v-flex>
                <v-flex md6>
                  <v-combobox
                    v-model="selected_features"
                    :filter="filter"
                    :hide-no-data="!searchFeatures"
                    :items="features"
                    :search-input.sync="searchFeatures"
                    hide-selected
                    item-text="name"
                    item-value="id"
                    label="Tour Features..."
                    multiple
                    small-chips
                  >
                    <template slot="no-data">
                      <v-list-tile>
                        <span class="subheading">Create</span>
                        <v-chip 
                          label 
                          small>{{ searchFeatures }}</v-chip>
                      </v-list-tile>
                    </template>
                    <template
                      v-if="item === Object(item)"
                      slot="selection"
                      slot-scope="{ item, parent, selected }"
                    >
                      <v-chip 
                        :selected="selected" 
                        label 
                        small>
                        <span class="pr-2">{{ item.name }}</span>
                        <v-icon 
                          small 
                          @click="parent.selectItem(item)">mdi-close</v-icon>
                      </v-chip>
                    </template>
                    <template 
                      slot="item" 
                      slot-scope="{ index, item, parent }">
                      <v-list-tile-content>
                        <v-text-field
                          v-if="editing === item"
                          v-model="editing.name"
                          autofocus
                          flat
                          background-color="transparent"
                          hide-details
                          @keyup.enter="edit(index, item,'feature')"
                        />
                        <v-chip
                          v-else
                          :color="`${item.color} lighten-3`"
                          dark
                          label
                          small
                        >{{ item.name }}</v-chip>
                      </v-list-tile-content>
                      <v-spacer/>
                      <v-list-tile-action @click.stop>
                        <v-btn 
                          icon 
                          @click.stop.prevent="edit(index, item,'feature')">
                          <v-icon>{{ editing !== item ? 'mdi-pencil' : 'mdi-check' }}</v-icon>
                        </v-btn>
                      </v-list-tile-action>
                    </template>
                  </v-combobox>
                </v-flex>
                <v-flex md6>
                  <v-combobox
                    v-model="selected_not_features"
                    :filter="filter"
                    :hide-no-data="!searchNotFeatures"
                    :items="not_featured"
                    :search-input.sync="searchNotFeatures"
                    hide-selected
                    item-value="id"
                    item-text="name"
                    label="Tour Does'nt Include"
                    multiple
                    small-chips
                  >
                    <template slot="no-data">
                      <v-list-tile>
                        <span class="subheading">Create</span>
                        <v-chip 
                          label 
                          small>{{ searchNotFeatures }}</v-chip>
                      </v-list-tile>
                    </template>
                    <template
                      v-if="item === Object(item)"
                      slot="selection"
                      slot-scope="{ item, parent, selected }"
                    >
                      <v-chip 
                        :selected="selected" 
                        label 
                        small>
                        <span class="pr-2">{{ item.name }}</span>
                        <v-icon 
                          small 
                          @click="parent.selectItem(item)">mdi-close</v-icon>
                      </v-chip>
                    </template>
                    <template 
                      slot="item" 
                      slot-scope="{ index, item, parent }">
                      <v-list-tile-content>
                        <v-text-field
                          v-if="editing === item"
                          v-model="editing.name"
                          autofocus
                          flat
                          background-color="transparent"
                          hide-details
                          @keyup.enter="edit(index, item,'feature')"
                        />
                        <v-chip
                          v-else
                          :color="`${item.color} lighten-3`"
                          dark
                          label
                          small
                        >{{ item.name }}</v-chip>
                      </v-list-tile-content>
                      <v-spacer/>
                      <v-list-tile-action @click.stop>
                        <v-btn 
                          icon 
                          @click.stop.prevent="edit(index, item,'feature')">
                          <v-icon>{{ editing !== item ? 'mdi-pencil' : 'mdi-check' }}</v-icon>
                        </v-btn>
                      </v-list-tile-action>
                    </template>
                  </v-combobox>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-validate="formValidate.price"
                    v-model="form['price']"
                    :error-messages="errors.collect($t('fields.price'))"
                    :name="$t('fields.price')"
                    :label="$t('fields.price')"
                    type="number"
                  />
                </v-flex>
                <v-flex xs6>
                  <v-select
                    v-validate="formValidate.active_days"
                    :items="active_days"
                    v-model="form['active_days']"
                    :error-messages="errors.collect($t('fields.active_days'))"
                    :name="$t('fields.active_days')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.active_days')"
                    item-text="name"
                    multiple
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-validate="formValidate.points"
                    :items="points"
                    v-model="form['points']"
                    :error-messages="errors.collect($t('fields.points'))"
                    :name="$t('fields.points')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.points')"
                    item-text="name"
                    item-value="id"
                    multiple
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  >
                    <!-- <template 
                      slot="selection" 
                      slot-scope="data">
                      <v-flex xs1>
                        <v-avatar size="25px">
                          <img :src="'/storage/' + data.item.img[0]">
                        </v-avatar>
                      </v-flex >
                      <v-flex 
                        class="ml-1" 
                        xs2>
                        {{ data.item.name }} 
                        {{ data.item.address }} 
                      </v-flex>
                    </template>
                    <template 
                      slot="item" 
                      slot-scope="data">
                      <v-list-tile-avatar>
                        <img :src="'/storage/' + data.item.img[0]" >
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title v-html="data.item.name + ' - ' + data.item.address "/>
                      </v-list-tile-content>
                    </template> -->
                  </v-select>
                </v-flex>
              </v-layout>
            </tab-content>
            <div 
              v-if="loading" 
              class="loader"/>
          </form-wizard>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { difference } from 'lodash'

export default {
    data: () => ({
        loading: false,
        search: null,
        searchFeatures: null,
        searchNotFeatures: null,
        selected_tags: [],
        selected_features: [],
        selected_not_features: [],
        active_days: [
            'Monday',
            'Tuesday',
            'Wednesday',
            'Thursday',
            'Friday',
            'Saturday',
            'Sunday'
        ],
        day_times: [],
        type: [
            {
                name: 'Privated',
                value: 0
            },
            {
                name: 'Public',
                value: 1
            }
        ],
        form: {},
        formValidate: {
            name: {
            required:true
          },
            alias: {
            required:true
          },
            type: {
            required:true
          },
            min_age: {
            required:true
          },
            max_age: {
            required:true
          },
            country: {
            required:true
          },
            location: {
            required:true
          },
           excerpt: {
             required:true
           },
           description: {
             required:true
           },
            day_time: {
            required:true
          },
            length: {
            required:true
          },
            group_type: {
            required:true
          },
            price: {
            required:true
          },
            active_days: {
            required:true
          },
        },
        group_types: [],
        features: [],
        allFeatures: [],
        not_featured: [],
        tags: [],
        locations: [],
        countries: [],
        points: [],
        menu: false,
        files: [],
        loadingLocation: false,
        editing: null,
        lengths: [1, 2, 3, 4, 5],
        nonce: 1,
        index: -1,
        colors: ['green', 'purple', 'indigo', 'cyan', 'teal', 'orange']
    }),
    watch: {
        'form.country_id'(val, prep) {
            this.loadingLocation = true
            axios.get(`/location?id=${this.form['country_id']}`).then(x => {
                this.locations = x.data.data
                this.loadingLocation = false
            })
        },
        'form.location_id'(val, prep) {
            this.loading = true
            axios
                .get(`/point?location_id=${this.form['location_id']}`)
                .then(x => {
                    this.points = x.data.data
                      if (!this.points.length) {
                                    this.$store.commit('snack', {
                                        message: `No points for this location`,
                                        type: 'warning',
                                        icon: 'mdi-airplane'
                                    })
                                }
                    this.loading = false
                })
        },
        'form.name': _.debounce(function(val, prev) {
            this.loading = true
            axios.get('/slugify?name=' + this.form['name']).then(x => {
                this.form['alias'] = x.data.data.name
                this.loading = false
            })
        }, 2000),
        selected_tags(val, prev) {
            if (val.length === prev.length) return

            this.selected_tags = val.map(v => {
                if (typeof v === 'string') {
                    v = {
                        name: v
                    }

                    axios.post('/tag', v).then(x => {
                        this.tags.push(x.data.data)
                        v.id = x.data.data.id
                    })
                }

                return v
            })
        },
        selected_features(val, prev) {
            this.differenceFeatures(val, prev)
            if (val.length === prev.length) return

            this.selected_features = val.map(v => {
                if (typeof v === 'string') {
                    v = {
                        name: v
                    }

                    axios.post('/feature', v).then(x => {
                        this.features.push(x.data.data)
                        this.allFeatures.push(x.data.data)
                        v.id = x.data.data.id
                    })
                }

                return v
            })
        },
        selected_not_features(val, prev) {
            this.differenceFeatures(val, prev)
            if (val.length === prev.length) return

            this.selected_not_features = val.map(v => {
                if (typeof v === 'string') {
                    v = {
                        name: v
                    }

                    axios.post('/feature', v).then(x => {
                        this.features.push(x.data.data)
                        this.allFeatures.push(x.data.data)
                        v.id = x.data.data.id
                    })
                }

                return v
            })
        },
        menu(val) {
            val &&
                this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
        }
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize() {
            this.loading = true
            axios
                .all([
                    axios.get('/grouptype'),
                    axios.get('/feature'),
                    axios.get('/tag'),
                    axios.get('/country'),
                    axios.get('/day-time')
                ])
                .then(
                    axios.spread((group_types, features, tags, countries,day_times) => {
                        this.group_types = group_types.data.data
                        this.features = features.data.data
                        this.allFeatures = features.data.data
                        this.not_featured = features.data.data
                        this.tags = tags.data.data
                        this.countries = countries.data.data
                        this.day_times = day_times.data.data
                        
                        this.loading = false
                    })
                )
        },
        differenceFeatures(val = [], prev = []) {
            if (val.length < prev.length) {
                this.not_featured = this.features = this.allFeatures
            }

            this.not_featured = _.difference(
                this.not_featured,
                this.selected_features
            )

            this.features = _.difference(
                this.features,
                this.selected_not_features
            )
        },
        onComplete: function() {
          this.$validator.validateAll().then(validated => {
                if (!validated) return
            this.form['tags'] = this.selected_tags.map(x => x.id)
            this.form['features'] = this.selected_features.map(x => x.id)
            this.form['not_features'] = this.selected_not_features.map(
                x => x.id
            )

            if (!this.form['points']) {
                this.form['points'] = []
            }

            if (this.files.length) {
                this.form['featured_img'] = this.files[0].response
            }
            axios.post('/tour', this.form).then(x => {
                this.$store.commit('snack', {
                    message: 'Tour sucessfully created',
                    type: 'success',
                    icon: 'mdi-check'
                })
                this.$router.push('/tours')
            })
          })
        },
        setLoading: function(value) {
            this.loading = value
        },
        handleValidation: function(isValid, tabIndex) {
            console.log('Tab: ' + tabIndex + ' valid: ' + isValid)
        },
        edit(index, item, type) {
            if (!this.editing) {
                this.editing = item
                this.index = index
            } else {
                axios.put(`/${type}/${item.id}`, item).then(response => {
                    this.editing = null
                    this.index = -1
                })
            }
        },
        filter(item, queryText, itemText) {
            if (item.header) return false
            const hasValue = val => (val != null ? val : '')

            const name = hasValue(itemText)
            const query = hasValue(queryText)

            return (
                name
                    .toString()
                    .toLowerCase()
                    .indexOf(query.toString().toLowerCase()) > -1
            )
        },
        inputFile: function(newFile, oldFile) {
            if (newFile && oldFile && !newFile.active && oldFile.active) {
                // Get response data
                console.log('response', newFile.response)
                if (newFile.xhr) {
                    //  Get the response status code
                    console.log('status', newFile.xhr.status)
                }
                if (this.files[this.files.length - 1].success) {
                    this.$store.commit('snack', {
                        message: 'Images uploaded Succesfully',
                        type: 'success',
                        icon: 'mdi-check'
                    })
                }
            }
        },
        inputFilter: function(newFile, oldFile, prevent) {
            if (newFile && !oldFile) {
                // Filter non-image file
                if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                    return prevent()
                }
            }

            // Create a blob field
            newFile.blob = ''
            let URL = window.URL || window.webkitURL
            if (URL && URL.createObjectURL) {
                newFile.blob = URL.createObjectURL(newFile.file)
            }
        }
    }
}
</script>

<style lang="scss">
</style>
