<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
        justify-end
      >
        <v-btn 
          dark 
          small
          to="tours/create"
          color="primary">
          <v-icon dark>mdi-plus</v-icon>
          New
        </v-btn>
     
        <material-card
          color="primary"
        >
         
          
          <template slot="header">
            <v-layout>
              <v-flex xs6>
                <h4 class="title font-weight-light mb-2">Tours</h4>
                <p
                  class="category font-weight-thin" >  Tours</p>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="search"
                  :label="$t('common.search')"
                  class="white--text"
                  append-icon="mdi-search"
                />
              </v-flex>
            </v-layout>
          </template>
          <v-data-table
            :headers="headers"
            :items="items"
            :loading="loading"
            :search="search"
            :rows-per-page-items="rowsLength"
            :no-data-text="$t('common.norecords')"
            :rows-per-page-text="$t('common.rows_per_page')"
          >
            <v-progress-linear 
              slot="progress" 
              color="primary" 
              indeterminate/>
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
           
            <template
              slot="items"
              slot-scope="{ item }"
            >

              <td>{{ item.name }}</td>
              <td>{{ item.location.country.name }} <small>></small> {{ item.location.name }}</td>
              <td>{{ item.price }}</td>
              <td> 
                <v-avatar>
                  <img 
                    :src="item.featured_img" 
                    :alt="item.alias">
              </v-avatar></td>
              <td>
                <v-chip 
                  :color="item.status == 1? 'green lighten-2':'red lighten-2'"
                  class="text-xs-center" 
                  text-color="white">
                 
                  <v-btn 
                    icon 
                    @click.prevent="changeStatus(item)">
                    <v-icon color="white">mdi-{{ item.status == 1? 'check':'close' }}</v-icon>
                  </v-btn>
                <!-- {{ item.status == 1? 'Activada':'Desactivada' }} -->
                </v-chip>
              </td>
              <td class="">
                <v-icon 
                  small 
                  class="mr-2" 
                  @click="editItem(item)">
                  mdi-pencil
                </v-icon>
                <v-icon 
                  small 
                  @click="deleteItem(item)">
                  mdi-delete
                </v-icon>
              
                <a 
                  :href="`/tour/${item.alias}`" 
                  target="_blank">
                  <v-tooltip bottom>
                    <v-icon
                      slot="activator"
                      small
                      class="ml-2"
                    >
                      mdi-arrow-top-right-bold-outline
                    </v-icon>
                    <span>See Tour</span>
                  </v-tooltip>
                </a>

                <v-tooltip bottom>
                  <v-icon
                    slot="activator"
                    small
                    class="ml-2"
                    @click="translateItem(item)"
                  >
                    mdi-book-open-page-variant
                  </v-icon>
                  <span>Translate</span>
                </v-tooltip>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <v-speed-dial
      fixed
      bottom
      right
      open-on-hover
    >
      <v-btn
        slot="activator"
        color="blue darken-2"
        dark
        fab
        to="/tours/create"
      >
        <v-icon>mdi-plus</v-icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-speed-dial>
    <router-view/>
  </v-container>
</template>

<script>
export default {
    data: () => ({
        headers: [
            {
                text: 'Name',
                value: 'name'
            },
            {
                sortable: false,
                text: 'Location',
                value: 'Location'
            },
            {
                sortable: false,
                text: 'Price',
                value: 'Price'
            },
            {
                sortable: false,
                text: 'Image',
                value: 'image'
            },
            {
                sortable: false,
                text: 'Status',
                value: 'status'
            },
            {
                sortable: false,
                text: 'Actions',
                value: 'actions'
            }
        ],
        rowsLength: [5, 15, 25, { text: 'All', value: -1 }],
        loading: false,
        search: null,
        items: []
    }),
    created() {
        this.initialize()
    },
    methods: {
        initialize() {
            this.loading = true
            axios.get('/tour').then(response => {
                this.loading = false
                console.log(response)
                this.items = response.data.data
            })
        },
        changeStatus(item) {
            if (!item.status) {
                axios
                    .post(`/tour/${item.alias}/activate`)
                    .then(response => {
                        item.status = true
                    })
                    .catch(err => {
                        console.log(err)
                    })
            } else {
                axios
                    .post(`/tour/${item.alias}/deactivate`)
                    .then(response => {
                        item.status = false
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        editItem(item) {
            this.$router.push('/tours/' + item.alias)
        },
        translateItem(item) {
            this.$router.push({
                name: 'tour-translate',
                params: { id: item.alias }
            })
        },
        deleteItem(item) {
            const index = this.items.indexOf(item)
            confirm(
                this.$t('common.confirm_delete', {
                    item: this.$t('fields.tour')
                })
            ) &&
                axios
                    .delete(`/tour/${this.items[index].alias}`)
                    .then(response => {
                        this.items.splice(index, 1)
                    })
        }
    }
}
</script>
