<template>
  <v-container
    fill-height
    fluid
    grid-list-xl>
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        xs12
      >
        <material-card
          :title="tour.name"
          color="primary"
          text="Translate Tour"
        >
          <v-form>
            <v-container py-0>
              <v-layout wrap>
                <v-flex
                  xs12
                >
                  <v-tabs
                    centered
                    color="success"
                    grow
                  >
                    <v-tabs-slider color="success"/>

                    <v-tab 
                      v-for="(locale,n) in locales"
                      :key="n" 
                      :href="'#tab-' + n"
                      class="white--text">{{ locale }}</v-tab>

                    <v-tab-item
                      v-for="(locale,n) in locales"
                      :value="'tab-' + n"
                      :key="n"
                    >
                      <v-card flat>
                        <v-card-text>
                          <v-layout wrap>
                            <v-flex 
                              xs6 >
                              <v-text-field 
                                v-validate="formValidate.name" 
                                :counter="40" 
                                v-model="form['name'][locale]" 
                                :error-messages="errors.collect($t('fields.name'))"
                                :name="$t('fields.name')"
                                :label="$t('fields.name')"/>
                            </v-flex>
                            <v-flex 
                              xs6 >
                              <v-text-field 
                                v-validate="formValidate.alias" 
                                v-model="form['alias'][locale]" 
                                :loading="loading"
                                :error-messages="errors.collect($t('fields.alias'))"
                                :name="$t('fields.alias')"
                                :label="$t('fields.alias')"/>
                            </v-flex>
                            <v-flex md12>
                              <v-textarea
                                v-validate="formValidate.excerpt"
                                v-model="form['excerpt'][locale]"
                                :error-messages="errors.collect($t('fields.excerpt'))"
                                :name="$t('fields.excerpt')"
                                :label="$t('fields.excerpt')"
                                counter="250"
                              />
                            </v-flex>
                            <v-flex>
                              <quill-editor 
                                v-model="form['description'][locale]"
                              />
                            </v-flex>
                          </v-layout>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>
                  </v-tabs>
                </v-flex>
                <v-flex
                  xs12
                  text-xs-right
                >
                  <v-btn
                    class="mx-0 font-weight-light"
                    color="primary"
                    @click="save"
                  >
                    Save
                  </v-btn>
                  
              </v-flex></v-layout>
            </v-container>
          </v-form>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
    data() {
        return {
            tour: {},
            form: [],
            formValidate: {},
            locales: [],
            loading: false
        }
    },
    created() {
        axios
            .all([
                axios.get(`/tour/${this.$route.params.id}`),
                axios.get(`/tour/${this.$route.params.id}/translate`),
                axios.get('/locales')
            ])
            .then(
                axios.spread((tour, translated, locales) => {
                    this.tour = tour.data.data
                    this.form = translated.data
                    this.locales = locales.data
                })
            )
    },
    methods: {
        save() {
            console.log(this.form)
            axios
                .post(`/tour/${this.$route.params.id}/translate`, this.form)
                .then(x => {
                    this.$router.push('/tours/')
                    this.$store.commit('snack', {
                        message: `Translations Saved`,
                        type: 'success',
                        icon: 'mdi-check'
                    })
                })
        }
    }
}
</script>

<style>
</style>
