<template>
  <v-app>

    <core-toolbar />

    <core-drawer />

    <core-view />
    <v-snackbar 
      v-model="snackbar"
      :color="type"
      :multi-line="'multi-line'"
      :timeout="6000"
      dark
    >
      <v-icon 
        v-if="icon"
        color="white"
        class="mr-3"
      >
        {{ icon }}
      </v-icon>
      {{ message }}
      <v-btn 
        flat 
        dark
        @click.native="snackbar = false">
        <v-icon 
          size="16"
          @click="snackbar = false">
          mdi-close-circle</v-icon>
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import NProgress from 'nprogress'
import 'nprogress/nprogress.css'

export default {
    data() {
        return {
            snackbar: false,
            message: '',
            type: '',
            icon: ''
        }
    },
    created() {
        this.$store.watch(
            state => state.snack,
            () => {
                if (!this.$store.state.snack) return
                this.snackbar = true
                this.message = this.$store.state.message
                this.type = this.$store.state.type
                this.icon = this.$store.state.icon
            }
        )

        this.localize(this.$i18n.locale)
        this.$i18n.beforeLanguageSwitch = (oldLocale, newLocale) => {
            this.localize(newLocale)
        }

        // before a request is made start the nprogress
        axios.interceptors.request.use(config => {
            NProgress.start()
            return config
        })

        // before a response is returned stop nprogress
        axios.interceptors.response.use(response => {
            NProgress.done()
            return response
        })
        //handle global errors
        axios.interceptors.response.use(undefined, err => {
            console.log(err.response)
            if (err.response.status == 403) {
                this.snack({
                    message: 'Accion no autorizada',
                    type: 'error',
                    icon: 'mdi-error'
                })
            } else if (err.response.status == 401) {
                window.location.href = window.origin + '/dashboard/login'
            } else {
                this.snack({
                    message: `Error: ${err.response.data.message}`,
                    type: 'error',
                    icon: 'mdi-error'
                })
                // this.snack({
                //   message: `Error ${err.response.status}`,
                //   type: "error",
                //   icon: 'mdi-error'
                // });
            }
            throw err
        })

        this.$validator.extend('domain', {
            getMessage: field =>
                'El campo ' + field + ' debe ser un dominio valido',
            validate: (value, [testProp]) => {
                return /^(?!:\/\/)(?=.{1,255}$)((.{1,63}\.){1,127}(?![0-9]*$)[a-z0-9-]+\.?)$/i.test(
                    value
                )
            }
        })

        this.$validator.extend('unique', {
            getMessage: field => 'El campo ' + field + ' debe ser unico',
            validate: (value, column) => {
                //data a iterar, campo a buscar, valor actual del input
                return !_.find(column.data, [column.field, value])
            }
        })

        this.$validator.extend('alpha_num_spaces', {
            getMessage: field =>
                'El campo ' + field + ' contiene caracteres no validos',
            validate: (value, [testProp]) => {
                return /^[0-9A-ZÁÉÍÑÓÚÜ\s.,]*$/i.test(value)
            }
        })
    },
    methods: {
        snack(obj) {
            this.message = obj.message
            this.type = obj.type
            this.icon = obj.icon
            this.snackbar = true
        }
    }
}
</script>
