<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    app
    dark
    floating
    persistent
    mobile-break-point="991"
    width="260"
  >
    <!-- <v-img
      :src="image"
      height="100%"
    > -->
    <v-layout
      class="fill-height"
      tag="v-list"
      column
    >
      <a href="/">
        <v-list-tile avatar>
          <!-- <v-list-tile-avatar
            color="teal lighten-3"
          > -->
          <v-img
            :src="logo"
            height="100"
            contain
          />
        <!-- </v-list-tile-avatar> -->
        <!-- <v-list-tile-title class="title">
            Vuetify MD
          </v-list-tile-title> -->
        </v-list-tile>
      </a>
      <v-divider/>
      <v-list-tile
        v-if="responsive"
      >
        <!-- <v-text-field
            class="purple-input search-input"
            label="Search..."
            color="purple"
          /> -->
      </v-list-tile>
      <v-list-tile
        v-for="(link, i) in links"
        v-if="!link.dropdown"
        :key="i"
        :to="link.to"
        :active-class="color"
        avatar
        class="v-list-item"
        exact
      >
        <v-list-tile-action>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-title
          v-text="link.text"
        />
      </v-list-tile>

      <v-list-group 
        v-else
        :prepend-icon="link.icon"
        class="v-list-item">
        <v-list-tile slot="activator">
          <v-list-tile-title v-text="link.text"/>
        </v-list-tile>
        <v-list-tile 
          v-for="(sub,n) in link.dropdown"
          :to="sub.to"
          :key="n"
          :active-class="color"
          exact>
          <v-list-tile-action><v-icon>{{ sub.icon }}</v-icon></v-list-tile-action>
          <v-list-tile-title v-text="sub.text"/>
        </v-list-tile>
      </v-list-group>
      <a href="/translations">
        <v-list-tile
          :active-class="color"
          avatar
          class="v-list-item"
        >
          <v-list-tile-action>
            <v-icon>mdi-book-open</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="white--text">
            Translate
          </v-list-tile-title>
        </v-list-tile>
      </a>
     
      <!-- <v-list-group
          prepend-icon="mdi-airplane"
          class="v-list-item"
            
        >
          <v-list-tile slot="activator">
            <v-list-tile-title>Tours</v-list-tile-title>
          </v-list-tile>

          <v-list-tile 
            :active-class="color"
            to="/asdasd">
            <v-list-tile-action><v-icon>mdi-artstation</v-icon></v-list-tile-action>
            <v-list-tile-title>Ver</v-list-tile-title>
          </v-list-tile>
         
          <v-list-tile >
            <v-list-tile-action><v-icon>mdi-android-auto</v-icon></v-list-tile-action>
            <v-list-tile-title>Includes</v-list-tile-title>
          </v-list-tile>
        </v-list-group> -->
       

    </v-layout>
    <!-- </v-img> -->
  </v-navigation-drawer>
</template>

<script>
// Utilities
import { mapMutations, mapState } from 'vuex'

export default {
    name: 'CoreDrawer',
    data: () => ({
        logo: '/img/brand/logo_white.png',
        links: [
            {
                to: '/dashboard',
                icon: 'mdi-view-dashboard',
                text: 'Dashboard'
            },
            {
                to: '/tours',
                icon: 'mdi-airplane',
                text: 'Tours',
                dropdown: [
                    {
                        to: '/tours',
                        text: 'All',
                        icon: 'mdi-table'
                    },
                    {
                        to: '/tours/create',
                        text: 'New',
                        icon: 'mdi-plus'
                    },
                    {
                        to: '/features',
                        text: 'Features',
                        icon: 'mdi-artstation'
                    },
                    {
                        to: '/tags',
                        text: 'Tags',
                        icon: 'mdi-cards-heart'
                    }
                ]
            },
            {
                to: '/locations',
                icon: 'mdi-stop',
                text: 'Locations'
            },
            {
                to: '/users',
                icon: 'mdi-artstation',
                text: 'Users'
            },
            {
                to: '/reservations',
                icon: 'mdi-artstation',
                text: 'Reservations'
            },
            {
                to: '/points',
                icon: 'mdi-stop',
                text: 'Points'
            },
            {
                to: '/calendar',
                icon: 'mdi-calendar-check',
                text: 'Calendar'
            },
            {
                to: '/daytimes',
                icon: 'mdi-alarm',
                text: 'Day Times'
            },
            {
                to: '/grouptypes',
                icon: 'mdi-account-group',
                text: 'Group Types'
            }
        ],
        responsive: false
    }),
    computed: {
        ...mapState('app', ['image', 'color']),
        inputValue: {
            get() {
                return this.$store.state.app.drawer
            },
            set(val) {
                this.setDrawer(val)
            }
        },
        items() {
            return this.$t('Layout.View.items')
        }
    },
    mounted() {
        this.onResponsiveInverted()
        window.addEventListener('resize', this.onResponsiveInverted)
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.onResponsiveInverted)
    },
    methods: {
        ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
        onResponsiveInverted() {
            if (window.innerWidth < 991) {
                this.responsive = true
            } else {
                this.responsive = false
            }
        }
    }
}
</script>

<style lang="scss">
#app-drawer {
    .v-list__tile {
        border-radius: 4px;

        &--buy {
            margin-top: auto;
            margin-bottom: 17px;
        }
    }

    .v-image__image--contain {
        top: 9px;
        height: 60%;
    }

    .search-input {
        margin-bottom: 30px !important;
        padding-left: 15px;
        padding-right: 15px;
    }
}
</style>
