<template>
  <v-container 
    fill-height 
    fluid 
    grid-list-xl>
    <v-layout 
      align-start 
      justify-space-around 
      wrap>
      <v-flex xs12>
        <v-layout 
          align-center 
          justify-space-around>
          <v-flex>
            <v-btn 
              dark 
              small 
              color="primary" 
              @click="newGroup">
              <v-icon dark>mdi-plus</v-icon>New
            </v-btn>
          </v-flex>
          <v-flex>
            <h4 class="headline">{{ tour.name }}</h4>
          </v-flex>
          <v-flex>
            <v-select
              :items="dates"
              v-model="date"
              :error-messages="errors.collect($t('fields.date'))"
              :name="$t('fields.date')"
              :no-data-text="$t('common.nodates')"
              :label="$t('fields.date')"
              append-icon="mdi-calendar-week"
              browser-autocomplete="disabled"
              chips
            />
          </v-flex>
          <v-flex>
            <v-select
              :items="day_times"
              v-model="day_time"
              :error-messages="errors.collect($t('fields.day_time'))"
              :name="$t('fields.day_time')"
              :no-data-text="$t('common.notimes')"
              :label="$t('fields.day_time')"
              append-icon="mdi-calendar-today"
              item-text="name"
              item-value="id"
              browser-autocomplete="disabled"
              chips
            />
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex 
        xs4 
        class>
        <v-list 
          two-line 
          class="elevation-2">
          <v-subheader>PENDING</v-subheader>
          <draggable 
            v-model="pending" 
            :options="{group:'group'}" 
            style="min-height: 30px;background:rgba(0, 0, 0, 0.04);    cursor: grab;">
            <!-- <v-fade-transition group> -->
            <template v-for="(item,key) in pending">
              <v-list-tile 
                :key="key" 
                avatar>
                <v-list-tile-avatar>
                  <img
                    :src="item.avatar ? item.avatar : '/img/avatar.jpeg'"
                  >
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title v-html="item.user.name"/>
                  <v-list-tile-sub-title>Total {{ item.persons }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
            <!-- </v-fade-transition> -->
          </draggable>
        </v-list>
      </v-flex>
      <v-flex 
        xs8 
        class>
        <v-layout 
          wrap 
          align-start>
          <v-flex 
            v-for="(group,n) in groups" 
            :xs6="groups.length > 1" 
            :key="n">
            <v-list 
              two-line 
              class="elevation-1">
              <v-list-tile>
                <v-subheader>GROUP {{ group.batch + 1 }} ({{ totalPersons(group) }})   </v-subheader>

                <v-list-tile-content>
                  <v-list-tile-title>&nbsp;</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-layout wrap>
                    <v-flex v-if="group.id">
                      <v-tooltip bottom>
                        <v-icon
                          slot="activator"
                          :color="group.guide ? 'primary' : ''"
                          small
                          @click="setUpDialog(1,group,n)"
                        >mdi-account-star</v-icon>
                        <span>Group's Guide</span>
                      </v-tooltip>
                    </v-flex>
                   
                    <v-flex v-if="group.id && group.user_guide_id">
                      <v-tooltip bottom>
                        <v-icon
                          slot="activator"
                          small
                          color="primary"
                          @click="setUpDialog(3,group,n)"
                        >mdi-email-mark-as-unread</v-icon>
                        <span>Notify group</span>
                      </v-tooltip>
                    </v-flex>
                    <v-flex v-if="group.id">
                      <v-tooltip
                        bottom>
                        <v-icon
                          slot="activator"
                          small
                          color="error"
                          @click="setUpDialog(2,group,n)"
                        >mdi-cancel</v-icon>
                        <span>Cancel group</span>
                      </v-tooltip>
                    </v-flex>
                    <v-flex>
                      <v-tooltip 
                        bottom 
                        open-delay="700">
                        <v-icon
                          slot="activator"
                          small
                          @click="group.show = !group.show"
                        >{{ group.show ? 'mdi-arrow-down-drop-circle-outline' : 'mdi-arrow-up-drop-circle-outline' }}</v-icon>
                        <span>Collapse</span>
                      </v-tooltip>
                    </v-flex>
                  </v-layout>
                </v-list-tile-action>
              </v-list-tile>
              <draggable
                v-show="group.show"
                v-model="group.reservations"
                :options="{group:'group'}"
                class="draggable"
                style="min-height: 30px;background:rgba(0, 0, 0, 0.04);    cursor: grab;"
              >
                <template v-for="(item) in group.reservations">
                  <v-list-tile 
                    :key="item.id" 
                    avatar>
                    <v-list-tile-avatar>
                      <img
                        :src="item.avatar ? item.avatar : '/img/avatar.jpeg'"
                      >
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title>{{ item.user.name }}</v-list-tile-title>
                      <v-list-tile-sub-title>Total {{ item.persons }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                      <!-- <v-icon color="primary">mdi-gmail</v-icon> -->
                      <!-- mdi-email-check-outline -->
                    </v-list-tile-action>
                  </v-list-tile>
                </template>
              </draggable>
            </v-list>
          </v-flex>
        </v-layout>
        <v-btn 
          fab 
          right 
          fixed 
          bottom 
          color="primary" 
          @click="saveReservation">Save</v-btn>
      </v-flex>
    </v-layout>
    <v-dialog 
      v-model="dialog" 
      max-width="500px" 
      @keydown.esc="close">
      <v-card>
        <v-card-title>
          <div class="headline">{{ formTitle }}</div>
          <br>
          <v-subheader>{{ tour.name }} for {{ date }} at {{ day_time.name }} </v-subheader>
        </v-card-title>
        <v-card-text>
          <v-form 
            v-if="dialogType == 3" 
            ref="form" 
            lazy-validation>
            <v-layout 
              wrap 
              justify-center 
              align-center>
              <v-flex>
                <v-textarea
                  v-validate="formValidate.message"
                  v-model="form['message']"
                  :error-messages="errors.collect($t('common.notify_customer'))"
                  :name="$t('common.notify_customer')"
                  :label="$t('common.notify_customer')"
                />
              </v-flex>
            </v-layout>
          </v-form>
          <div
            v-if="dialogType == 2"
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic sit aperiam id dolorum veritatis</div>
          <v-form 
            v-if="dialogType == 1" 
            ref="form" 
            lazy-validation>
            <v-layout 
              wrap 
              justify-center 
              align-center>
              <v-flex>
                <v-select
                  v-validate="formValidate.guide"
                  :items="guides"
                  v-model="form['user_guide_id']"
                  :error-messages="errors.collect($t('fields.guide'))"
                  :name="$t('fields.guide')"
                  :no-data-text="$t('common.nodata')"
                  :label="$t('fields.guide')"
                  item-text="user.name"
                  item-value="id"
                  item-avatar="img"
                  browser-autocomplete="disabled"
                  clearable
                >
                  <template 
                    v-if="data" 
                    slot="selection" 
                    slot-scope="data">
                    <v-flex xs2>
                      <v-avatar size="25px">
                        <img :src="data.item.img">
                      </v-avatar>
                    </v-flex>
                    <v-flex class="ml-1">{{ data.item.user.name }}</v-flex>
                  </template>
                  <template 
                    slot="item" 
                    slot-scope="data">
                    <v-list-tile-avatar>
                      <img :src="data.item.img">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.user.name"/>
                    </v-list-tile-content>
                  </template>
                </v-select>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn 
            color="error" 
            outline 
            @click.native="close">{{ $t('common.cancel') }}</v-btn>
          <v-btn
            :disabled="errors.any()"
            color="primary"
            outline
            @click.native="save"
          >{{ $t('common.save') }}</v-btn>
          <v-spacer/>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import draggable from 'vuedraggable'
export default {
    components: {
        draggable
    },
    data() {
        return {
            groups: [],
            pending: [],
            date: '',
            dates: [],
            day_time: {},
            guides: [],
            dialog: false,
            dialogType: 0,
            form: {},
            formValidate: {},
            formTitle: '',
            day_times: [],
            tour: {}
        }
    },
    watch: {
        dialogType(val, prev) {
            switch (val) {
                case 1:
                    this.formTitle = "Group's Guide"
                    break
                case 2:
                    this.formTitle =
                        'Are you sure you want to cancel this group?'
                    break
                case 3:
                    this.formTitle = 'Notify Group'
                    break
                default:
                    break
            }
        },
        date(val, prev) {
            if (val == prev || !prev) return
            this.$router.push({
                path: '/reservations/group',
                query: {
                    date: val,
                    day_time: this.$route.query.day_time,
                    tour: this.$route.query.tour
                }
            })
            this.initialize()
        },
        day_time(val, prev) {
            if (val == prev || !prev) return
            console.log(val == prev || !prev, val, prev)
            this.$router.push({
                path: '/reservations/group',
                query: {
                    day_time: val.id ? val.id : val,
                    date: this.$route.query.date,
                    tour: this.$route.query.tour
                }
            })
            this.initialize()
        }
    },
    created() {
        // this.initialize()
        this.date = this.$route.query.date
        axios.get(`/day-time/${this.$route.query.day_time}`).then(x => {
            this.day_time = x.data.data
        })
    },
    methods: {
        initialize() {
            console.log('init')
            // this.date = this.$route.query.date
            // this.day_time = this.$route.query.day_time
            ;(this.groups = []),
                (this.pending = []),
                axios
                    .get(`/reservation?tour=${this.$route.query.tour}`)
                    .then(x => {
                        x.data.reservations.map(x => {
                            if (
                                x.date == this.date &&
                                x.day_time.id == this.day_time.id &&
                                !x.day_id
                            ) {
                                this.pending.push(x)
                            }
                        })
                        this.tour = x.data.tour
                        this.dates = x.data.dates
                        this.day_times = x.data.day_times
                        axios
                            .get(`/guide?location_id=${this.tour.location_id}`)
                            .then(x => {
                                this.guides = x.data.data

                                if (!this.guides.length) {
                                    this.$store.commit('snack', {
                                        message: `No guides for this location ${
                                            this.tour.location.country.name
                                        } >  ${this.tour.location.name} `,
                                        type: 'warning',
                                        icon: 'mdi-airplane'
                                    })
                                }
                            })

                        axios
                            .get(
                                `/day?date=${this.date}&day_time=${
                                    this.day_time.id
                                        ? this.day_time.id
                                        : this.day_time
                                }&tour=${this.tour.id}`
                            )
                            .then(x => {
                                x.data.data.map(x => {
                                    this.groups.push({
                                        reservations: x.reservations,
                                        id: x.id,
                                        batch: x.batch,
                                        guide: x.guide,
                                        full: x.full,
                                        user_guide_id: x.user_guide_id,
                                        day_time: x.day_time,
                                        show: true
                                    })
                                    // this.days.push(day);
                                })
                                if (this.groups.length == 0) this.newGroup()
                            })
                    })
        },
        newGroup() {
            let last = this.groups[this.groups.length - 1]
            this.groups.push({
                batch: last ? last.batch + 1 : 0,
                show: true,
                reservations: []
            })
        },
        totalPersons(group) {
            return _.sumBy(group.reservations, 'persons')
        },
        save() {
            switch (this.dialogType) {
                case 1:
                    axios
                        .put(`/day/${this.form['id']}`, {
                            user_guide_id: this.form['user_guide_id']
                                ? this.form['user_guide_id']
                                : null,
                            reservations: _.map(this.form['reservations'], 'id')
                        })
                        .then(x => {
                            x.data.data.show = true
                            this.groups[this.index] = x.data.data
                            this.close()
                            this.$store.commit('snack', {
                                message: x.data.data.guide
                                    ? 'Guide Assigned'
                                    : 'Guide Removed',
                                type: x.data.data.guide ? 'success' : 'warning',
                                icon: 'mdi-check'
                            })
                        })
                    break

                case 2:
                    axios.delete(`/day/${this.form['id']}/cancel`).then(x => {
                        this.groups.splice(this.index, 1)
                        this.close()

                        this.$store.commit('snack', {
                            message: `Canceled`,
                            type: 'warning',
                            icon: 'mdi-check'
                        })
                    })
                    break

                case 3:
                    axios
                        .post(`/day/${this.form['id']}/mail`, {
                            confirmation: true,
                            comment: this.form['message']
                        })
                        .then(x => {
                            this.close()

                            this.$store.commit('snack', {
                                message: `Notification sent succesfully`,
                                type: 'success',
                                icon: 'mdi-check'
                            })
                        })
                    break

                default:
                    break
            }
        },
        saveReservation() {
            axios
                .post(`/${this.tour.alias}/day/groupsave`, {
                    groups: this.groups
                })
                .then(x => {
                    this.groups = x.data

                    this.$store.commit('snack', {
                        message: `Saved succesfully`,
                        type: 'success',
                        icon: 'mdi-check'
                    })
                })
        },
        parseSaveGroup(group) {},
        setUpDialog(n, group, index) {
            console.log(group)
            Object.assign(this.form, group)
            this.dialogType = n
            this.dialog = true
            this.index = index
        },
        close() {
            // this.$refs.form.reset()
            this.form = {}
            this.dialog = false
            this.dialogType = null
            setTimeout(() => {
                this.editedIndex = -1
            }, 300)
        }
    }
}
</script>

<style>
</style>
