<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
        justify-end
      >
     
        <material-card
          color="primary"
        >
         
          
          <template slot="header">
            <v-layout>
              <v-flex xs6>
                <h4 class="title font-weight-light mb-2">Reservations</h4>
                <p
                  class="category font-weight-thin" >  reservations</p>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="search"
                  :label="$t('common.search')"
                  class="white--text"
                  append-icon="mdi-search"
                />
              </v-flex>
            </v-layout>
          </template>
          <v-data-table
            :headers="headers"
            :items="items"
            :loading="loading"
            :search="search"
            :rows-per-page-items="rowsLength"
            :no-data-text="$t('common.norecords')"
            :rows-per-page-text="$t('common.rows_per_page')"
          >
            <v-progress-linear 
              slot="progress" 
              color="primary" 
              indeterminate/>
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
           
            <template
              slot="items"
              slot-scope="{ item }"
            >

              <td>{{ item.user.name }} </td>
              <td>{{ item.day_time.name }}</td>
             
              <td >{{ item.tour.name }}</td>
              <td class="text-center">{{ item.persons }}</td>
              <td class="">{{ item.date }}</td>
              <td 
                v-if="item.guide" 
                class="">{{ item.guide.user.name }}</td>
              <td v-else/>
              <td class="">
                <v-icon 
                  small 
                  class="mr-2" 
                  @click="verItem(item)">
                  mdi-arrow-right-bold-outline
                </v-icon>
                <v-icon
                  small
                  class="ml-2"
                  @click="goReservations(item)"
                >
                  mdi-account-box-multiple
                </v-icon>
                <v-tooltip 
                  v-if="item.full" 
                  bottom>
                  <v-icon
                    slot="activator"
                    color="primary"
                    class="ml-2"
                    @click="selectGuide(item)"
                  >
                    mdi-account-settings
                  </v-icon>
                  <span>Ready for a guide!</span>
                </v-tooltip>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <v-dialog 
      v-model="dialog"
      max-width="500px" 
      @keydown.esc="close">
      <v-card>
        <v-card-title>
          <span class="headline">Assign a guide</span>
        </v-card-title>
        <v-card-text>
          <v-form 
            ref="form" 
            lazy-validation>
            <v-layout 
              wrap 
              justify-center 
              align-center>
              <v-flex>
                <v-select
                  v-validate="formValidate.guide"
                  :items="guides"
                  v-model="form['guide_id']"
                  :error-messages="errors.collect($t('fields.guide'))"
                  :name="$t('fields.guide')"
                  :no-data-text="$t('common.nodata')"
                  :label="$t('fields.guide')"
                  item-text="user.name"
                  item-value="id"
                  item-avatar="img"
                  browser-autocomplete="disabled"
                  clearable
                >
                  <template 
                    slot="selection" 
                    slot-scope="data">
                    <v-flex xs2>
                      <v-avatar size="25px">
                        <img :src="data.item.img">
                      </v-avatar>
                    </v-flex>
                    <v-flex class="ml-1">
                      {{ data.item.user.name }}
                    </v-flex>
                  </template>
                  <template 
                    slot="item" 
                    slot-scope="data">
                    <v-list-tile-avatar>
                      <img :src="data.item.img" >
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.user.name"/>
                    </v-list-tile-content>
                  </template>
                </v-select>
              </v-flex>
          
            </v-layout>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn 
            color="error" 
            outline 
            @click.native="close">{{ $t('common.cancel') }}</v-btn>
          <v-btn 
            :disabled="errors.any()" 
            color="primary" 
            outline 
            @click.native="save">{{ $t('common.save') }}</v-btn>
          <v-spacer/>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
    data: () => ({
        headers: [
            {
                text: 'Reserved By',
                value: 'user.name'
            },
            {
                text: 'Day Time',
                value: 'day_time'
            },
            {
                text: 'Tour',
                value: 'tour.name'
            },
            {
                sortable: false,
                text: 'Additional Persons',
                value: 'persons',
                align: "'center'"
            },
            {
                text: 'Due to',
                value: 'date'
            },
            {
                sortable: false,
                text: 'Guide',
                value: 'Guide'
            },
            {
                sortable: false,
                text: 'Actions',
                value: 'actions'
            }
        ],
        rowsLength: [5, 15, 25, { text: 'All', value: -1 }],
        loading: false,
        form: {},
        formValidate: {},
        dialog: false,
        search: null,
        editedIndex: -1,
        items: [],
        guides: []
    }),
    created() {
        this.initialize()
    },
    methods: {
        initialize() {
            this.loading = true
            axios.all([axios.get('/reservation'), axios.get('/guide')]).then(
                axios.spread((reservation, guides) => {
                    this.items = reservation.data.data
                    this.guides = guides.data.data
                    this.loading = false
                })
            )
        },
        selectGuide(item) {
            this.form = Object.assign({}, item)
            if (item.guide) {
                this.$set(this.form, 'guide_id', item.guide.id)
            }
            this.dialog = true
        },
        save() {
            this.loading = true
            // if (this.item.guide) {
            let index = this.items.map(el => el.id).indexOf(this.form.id)

            axios
                .put(`/reservation/${this.form.stripe_transaction_id}`, this.form)
                .then(response => {
                    Object.assign(this.items[index], response.data.data)
                    this.loading = false
                    this.dialog = false
                })
            // } else {
            //   axios.post("/point", this.form).then(response => {
            //     this.loading = false;
            //     this.items.push(response.data.data);
            //     this.close();
            //   });
            // }
        },
        verItem(item) {
            this.$router.push({
                path: `/reservations/${item.stripe_transaction_id}`
            })
        },
        goReservations(item) {
            console.log(item)
            this.$router.push({
                path: '/reservations/group',
                query: {
                    date: item.date,
                    day_time: item.day_time.id,
                    tour: item.tour.id
                }
            })
            // window.location.href = window.location.origin + `/reservations/group?date=${item.date}&day_time=${item.day_time}`
        },
        close() {
            this.$refs.form.reset()
            this.form = {}
            this.dialog = false
            setTimeout(() => {
                this.editedIndex = -1
            }, 300)
        }
    }
}
</script>
