<template>
  <v-container
    fill-height
    fluid
    grid-list-xl>
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        xs12
        md8
      >
        <material-card
          text="Details"
          color="accent"
          title="Reservation"
        >
          <v-layout 
            wrap 
            justify-center 
            class="pa-3">
            <v-flex xs6><h4>Bought By</h4> {{ data.user.name }}</v-flex>
            <v-flex xs6><h4>Email</h4> {{ data.user.email }}</v-flex>
            <v-flex xs6><h4>Role</h4> {{ data.user.role }}</v-flex>
            <v-flex xs6><h4>Member since</h4> {{ data.user.created_at }}</v-flex>
            <v-flex xs6><h4> Persons attending</h4> {{ data.persons }}</v-flex>
            <v-flex xs6><h4> Total Price</h4>{{ data.price }}</v-flex>
            <v-flex xs6><h4>Payment Method</h4> {{ data.pay_method }}</v-flex>
            <v-flex xs6><h4> Transaction Id</h4> {{ data.stripe_transaction_id }}</v-flex>
            <v-flex xs6><h4> Reserved for</h4> {{ data.date }}</v-flex>
            <v-flex xs6><h4> Reserved Created</h4>{{ data.created_at }}</v-flex>
            <v-flex xs6><h4> Tour </h4>{{ data.tour.name }}</v-flex>
          </v-layout>
        </material-card>
      </v-flex>
      <v-flex
        xs12
        md4
        justify-center
      >
        <material-card class="v-card-profile">
          <img
            :src="data.tour.featured_img" 
            contain
            height="200"
            class="text-xs-center"
          >
          <v-card-text class="text-xs-center">
            <h6 class="category text-gray font-weight-thin mb-3"><v-icon>mdi-star</v-icon> {{ data.tour.rate }}</h6>
            <h4 class="card-title font-weight-light">{{ data.tour.name }}</h4>
            <p class="card-description font-weight-light">{{ data.tour.excerpt }}</p>
          </v-card-text>
        </material-card>
       

      </v-flex>
      <v-flex xs12>
        <v-btn 
          color="primary" 
          @click="$router.back()">Back</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
    data() {
        return {
            data: [],
            loading: false
        }
    },
    created() {
        this.loading = true
        axios.get('/reservation/' + this.$route.params.id).then(x => {
            this.data = x.data.data
            this.loading = false
        })
    }
}
</script>
