<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
   
    <v-layout
      justify-center
      wrap
    >
      <v-flex xs6>
        <v-btn 
          fab 
          icon
          color="primary"><v-icon @click.native="template = 1">mdi-grid-large</v-icon></v-btn>
        <v-btn 
          fab 
          icon
          color="primary"><v-icon @click.native="template = 2">mdi-grid</v-icon></v-btn>
      </v-flex> 
      <v-flex xs4>
        <v-layout justify-space-around>
          <v-flex xs6>
            <v-select
              :items="day_times"
              v-model="filter"
              :error-messages="errors.collect($t('fields.day_time'))"
              :name="$t('fields.day_time')"
              :no-data-text="$t('common.nodata')"
              :label="$t('fields.day_time')"
              item-text="name"
              item-value="id"
              browser-autocomplete="disabled"
              clearable
              chips
            />
          </v-flex>
          <v-flex 
            xs2 
            justify-end>
            <v-tooltip bottom>
              <v-btn 
                slot="activator" 
                fab
                icon
                color="warning"><v-icon @click.native="initialize">mdi-atom</v-icon>
              </v-btn>
              <span>Reset all filters</span>
            </v-tooltip>
          </v-flex>
          <v-flex xs6>
            <!-- <v-select
              :items="active_days"
              v-model="filter"
              :error-messages="errors.collect($t('fields.active_days'))"
              :name="$t('fields.active_days')"
              :no-data-text="$t('common.nodata')"
              :label="$t('fields.active_days')"
              item-text="name"
              browser-autocomplete="disabled"
              clearable
              chips
            /> -->
          </v-flex>
        </v-layout>
      </v-flex> 
      <v-flex xs4>
        <v-date-picker 
          v-model="date" 
          :events="events.map(x => x.date)"
          full-width
          event-color="accent" 
        />
      </v-flex>
      
      <v-flex 
        v-if="!items.length"
        xs4
      > 
        <material-notification 
          class="text--center">
          No Reservations yet
        </material-notification>
      </v-flex>

      <v-flex xs8>
       
        <v-timeline
          :dense="template == 2"
          align-top>
          <v-card
            v-if="template == 2"
            color="primary">
            <v-card-text>
              <v-layout align-center>
                <v-flex>
                  <h4 class="white--text">Date - Time</h4>
                </v-flex>
                <v-flex>
                  <h4 class="white--text">Capacity</h4>
                </v-flex>
                <v-flex>
                  <h4 class="white--text">Name - Batch - Description</h4>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
          <v-timeline-item 
            v-for="(item,n) in events"
            :key="n"
            :color="n % 2 == 0 ? 'green lighten-3' : 'pink lighten-3'"
            :fill-dot="n % 2 == 0">
            <!-- {{ item }} -->
            <material-card 
              v-if="template == 1" 
              class="v-card-profile">
              <img
                :src="item.tour.featured_img" 
                contain
                height="250"
                class="text-xs-center"
              >
              <v-card-text class="text-xs-center">
                <h5 
                  v-if="item.date != date" 
                  class="category text-gray font-weight-thin mb-3">{{ item.date }}</h5>
                <h6 class="category text-gray font-weight-thin mb-3"> 
                  <!-- {{ item.capacity }} / {{ item.tour.capacity }} for -->
                  {{ item.day_time.name }}</h6>
                <h4 class="card-title font-weight-light">{{ item.tour.name }} </h4>
                <v-avatar
                  v-if="item.guide"
                  slot="offset"
                  class="mx-auto d-block"
                  size="130"
                >
                  <img
                    :src="item.guide.img"
                  >
                </v-avatar>
                <br>
                <p class="card-description font-weight-light">{{ item.tour.excerpt }}</p>
                <a 
                  :href="`/tour/${item.tour.alias}`" 
                  target="_blank">
                  <v-btn
                    color="success"
                    round
                    class="font-weight-light"
                  >View</v-btn>
                </a>
                <v-btn
                  :to="`/tours/${item.tour.alias}`"
                  color="accent"
                  round
                  class="font-weight-light"
                >Details</v-btn>
              </v-card-text>
            </material-card>

           
            <v-layout 
              v-if="template == 2" 
              justify-center
              align-center
              pt-2>
              <v-flex xs3>
                <strong>{{ item.date }}</strong>
                <strong>{{ item.day_time }}</strong>
              </v-flex>
              <v-flex> 
                <p v-if="!item.full">{{ item.capacity }} / {{ item.tour.capacity }}</p>
                <p v-else>All slots filled <v-icon 
                  color="primary"
                  small>mdi-check</v-icon>   </p>
              </v-flex>
              <v-flex>
                <strong>{{ item.tour.name }} ({{ item.batch }})</strong>
                <div class="caption mb-2">{{ item.tour.excerpt }}</div>
              </v-flex>
            </v-layout>
          
          </v-timeline-item>
        </v-timeline>
      </v-flex>

     
    </v-layout>    
  </v-container>
</template>
    
<script>
export default {
    data() {
        return {
            template: 1,
            items: [],
            events: [],
            filter: null,
            loading: false,
            guides: [],
            date: null,
            day_times: [],
            active_days: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday'
            ]
        }
    },
    watch: {
        date(val) {
            console.log(val)
            this.events = this.items.filter(e => {
                return e.date === val
            })
        },
        filter(val) {
            if (!val) return (this.events = this.items)

            this.events = this.items.filter(e => {
                return e.day_time === val
            })
        }
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize() {
            this.loading = true
            this.date = null
            this.filter = null
            axios
                .all([
                    axios.get('/reservation'),
                    axios.get('/guide'),
                    axios.get('/day-time')
                ])
                .then(
                    axios.spread((reservations, guides, day_times) => {
                        this.items = reservations.data.data.sort(
                            (a, b) => new Date(a.date) - new Date(b.date)
                        )
                        this.events = reservations.data.data.sort(
                            (a, b) => new Date(a.date) - new Date(b.date)
                        )
                        this.guides = guides.data.data
                        this.day_times = day_times.data.data
                        this.loading = false
                    })
                )
        }
    }
}
</script>
    
<style>
</style>
