<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
        justify-end
      >
        <v-btn 
          dark 
          small
          color="primary"
          @click="dialog = !dialog">
          <v-icon dark>mdi-plus</v-icon>
          New
        </v-btn>
     
        <material-card
          color="primary"
        >
         
          
          <template slot="header">
            <v-layout>
              <v-flex xs6>
                <h4 class="title font-weight-light mb-2">Day Times</h4>
                <p
                  class="category font-weight-thin" >  Day Times</p>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="search"
                  :label="$t('common.search')"
                  class="white--text"
                  append-icon="mdi-search"
                />
              </v-flex>
            </v-layout>
          </template>
          <v-data-table
            :headers="headers"
            :items="items"
            :loading="loading"
            :search="search"
            :rows-per-page-items="rowsLength"
            :no-data-text="$t('common.norecords')"
            :rows-per-page-text="$t('common.rows_per_page')"
          >
            <v-progress-linear 
              slot="progress" 
              color="primary" 
              indeterminate/>
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
           
            <template
              slot="items"
              slot-scope="{ item }"
            >

              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
             
              <td class="">{{ item.created_at }}</td>
              <td class="">
                <v-icon 
                  small 
                  class="mr-2" 
                  @click="editItem(item)">
                  mdi-pencil
                </v-icon>
                <v-icon 
                  small 
                  @click="deleteItem(item)">
                  mdi-delete
                </v-icon>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <v-speed-dial
      fixed
      bottom
      right
      open-on-hover
    >
      <v-btn
        slot="activator"
        color="blue darken-2"
        dark
        fab
        @click="dialog = !dialog"
      >
        <v-icon>mdi-plus</v-icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-dialog 
      v-model="dialog" 
      max-width="500px"
      @keydown.esc="close">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-form 
            ref="form" 
            lazy-validation>
            <v-text-field
              v-validate="formValidate.name"
              v-model="form['name']"
              :error-messages="errors.collect($t('fields.name'))"
              :name="$t('fields.name')"
              :label="$t('fields.name')"
            />
            <v-text-field
              v-validate="formValidate.description"
              v-model="form['description']"
              :error-messages="errors.collect($t('fields.description'))"
              :name="$t('fields.description')"
              :label="$t('fields.description')"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn 
            color="error" 
            outline 
            @click.native="close">{{ $t('common.cancel') }}</v-btn>
          <v-btn 
            :disabled="errors.any()" 
            color="primary" 
            outline 
            @click.native="save">{{ $t('common.save') }}</v-btn>
          <v-spacer/>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
    data: () => ({
        headers: [
            {
                text: 'Name',
                value: 'name'
            },
            {
                sortable: false,
                text: 'Description',
                value: 'Description'
            },
            {
                sortable: false,
                text: 'Created',
                value: 'Created'
            },
            {
                sortable: false,
                text: 'Actions',
                value: 'actions'
            }
        ],
        rowsLength: [5, 15, 25, { text: 'All', value: -1 }],
        loading: false,
        form: {},
        formValidate: {
            name: {
                required: true
            }
        },
        search: null,
        dialog: false,
        editedIndex: -1,
        items: []
    }),
    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Day Times' : 'Edit Day Times'
        }
    },
    watch: {
        dialog(val) {
            val || this.close()
        }
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize() {
            this.loading = true
            axios.get('/day-time').then(response => {
                this.loading = false
                console.log(response)
                this.items = response.data.data
            })
        },
        editItem(item) {
            this.editedIndex = this.items.indexOf(item)
            this.form = Object.assign({}, item)
            this.dialog = true
        },
        save() {
            this.$validator.validateAll().then(validated => {
                if (!validated) return
                this.loading = true
                if (this.editedIndex > -1) {
                    let index = this.editedIndex
                    axios
                        .put(`/day-time/${this.form.id}`, this.form)
                        .then(response => {
                            Object.assign(this.items[index], response.data.data)
                            this.loading = false
                            this.close()
                        })
                } else {
                    axios.post('/day-time', this.form).then(response => {
                        this.loading = false
                        this.items.push(response.data.data)
                        this.close()
                    })
                }
            })
        },
        deleteItem(item) {
            const index = this.items.indexOf(item)
            confirm(
                this.$t('common.confirm_delete', {
                    item: this.$t('fields.day_time')
                })
            ) &&
                axios
                    .delete(`/day-time/${this.items[index].id}`)
                    .then(response => {
                        this.items.splice(index, 1)
                    })
        },
        close() {
            this.$refs.form.reset()
            this.form = {}
            this.$validator.reset()
            this.dialog = false
            setTimeout(() => {
                this.editedIndex = -1
            }, 300)
        }
    }
}
</script>
