<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
        justify-end
      >
        <v-btn 
          dark 
          small
          color="primary"
          @click="dialog = !dialog">
          <v-icon dark>mdi-plus</v-icon>
          New
        </v-btn>
     
        <material-card
          color="primary"
        >
         
          
          <template slot="header">
            <v-layout>
              <v-flex xs4>
                <h4 class="title font-weight-light mb-2">points</h4>
                <p
                  class="category font-weight-thin" >  points</p>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="search"
                  :label="$t('common.search')"
                  class="white--text"
                  append-icon="mdi-search"
                />
              </v-flex>
              <v-flex xs4>
                <v-autocomplete
                  v-if="countries.length > 1"
                  v-model="filterModel"
                  :items="countries"
                  item-text="name"
                  item-value="id"
                  class="white--text"
                  label="Filter by country"
                  clearable
                />
              </v-flex>
            </v-layout>
          </template>
          <v-data-table
            :headers="headers"
            :items="items.filter(x => !filterModel ? true : x.location.country_id == filterModel)"
            :loading="loading"
            :search="search"
            :rows-per-page-items="rowsLength"
            :no-data-text="$t('common.norecords')"
            :rows-per-page-text="$t('common.rows_per_page')"
          >
            <v-progress-linear 
              slot="progress" 
              color="primary" 
              indeterminate/>
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
           
            <template
              slot="items"
              slot-scope="{ item }"
            >

              <td>{{ item.name }}</td>
              <td>{{ item.location.country.name }} > {{ item.location.name }}</td>
              <td>{{ item.address }}</td>
              <td class="">{{ item.tours.length }}</td>
             
              <td class="">{{ item.lat }} - {{ item.lon }}</td>
              <td class="">
                <v-icon 
                  small 
                  class="mr-2" 
                  @click="editItem(item)">
                  mdi-pencil
                </v-icon>
                <v-icon 
                  small
                  @click="deleteItem(item)">
                  mdi-delete
                </v-icon>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <v-speed-dial
      fixed
      bottom
      right
      open-on-hover
    >
      <v-btn
        slot="activator"
        color="blue darken-2"
        dark
        fab
        @click="dialog = !dialog"
      >
        <v-icon>mdi-plus</v-icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-dialog 
      v-model="dialog" 
      max-width="800px"
      @keydown.esc="close">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-form 
            ref="form" 
            lazy-validation>
            <v-layout 
              wrap 
              justify-center 
              align-center>
              <v-flex xs10>
                <div 
                  class="example-avatar">
                  <div class="avatar-upload">
                    <div class="text-center p-2">
                      <v-layout wrap >
                        <v-flex 
                          v-for="file in form['img']"
                          :key="file"
                          class="px-0 py-0">
                          <v-img 
                            :src="'/storage/' + file"
                            class="rounded-circle"
                            contain/>
                        </v-flex>
                      </v-layout>
                      <file-upload
                        ref="upload"
                        v-model="files"
                        :headers="{'X-CSRF-TOKEN': csrf}"
                        :maximum="10"
                        drop="true"
                        drag="true"
                        dropzone="true"
                        drop-directory
                        name="point"
                        multiple
                        post-action="/upload/image"
                        class="text-center p-2 drop-area"
                        @input-filter="inputFilter" 
                        @input-file="inputFile">
                        <!-- <v-img 
                          v-if="!files.length"
                          ref="editImage"
                          src="/img/404.jpg"
                          style="margin:0 auto"
                          class="rounded-circle"
                          height="300" 
                          contain/> -->
                        <template v-if="!files.length">
                          <v-icon x-large>mdi-publish</v-icon>  
                          <p class="font-weight-regular title">Point Gallery</p>
                        </template>
                        <template v-else>
                          <v-layout 
                            wrap 
                            justify-center 
                            align-center>
                           
                            <v-flex 
                              v-for="file in files"
                              :key="file.blob"
                              xs4>
                              <v-img 
                                :src="file.blob"
                                contain/>
                              <v-progress-linear
                                v-if="$refs.upload && $refs.upload.active == true"
                                :value="file.progress"
                                color="primary"
                                height="1"
                              />
                            </v-flex>
                          </v-layout>
                        </template>
                      </file-upload>
                     
                    </div>
                  </div>
                </div>
              </v-flex>
              <v-flex 
                v-if="files.length" 
                xs2 >
                <v-btn
                  v-if="!$refs.upload || !$refs.upload.active"
                  slot="activator"
                  class="text-xs-center"
                  fab
                  color="primary"
                  @click.prevent="$refs.upload.active = true"
                >
                  <v-icon 
                    small 
                    dark>mdi-content-save-outline</v-icon>
                </v-btn>
              </v-flex>
              <v-flex xs6>
                <v-text-field 
                  v-validate="formValidate.name" 
                  v-model="form['name']" 
                  :error-messages="errors.collect($t('fields.name'))"
                  :name="$t('fields.name')"
                  :label="$t('fields.name')"/>
              </v-flex>
              <v-flex xs6>
                <v-text-field 
                  v-validate="formValidate.address" 
                  v-model="form['address']" 
                  :error-messages="errors.collect($t('fields.address'))"
                  :name="$t('fields.address')"
                  :label="$t('fields.address')"/>
              </v-flex>
              <!-- ////// -->
              <v-flex xs6>
                <v-text-field 
                  v-validate="formValidate.lat" 
                  v-model="form['lat']" 
                  :error-messages="errors.collect($t('fields.lat'))"
                  :name="$t('fields.lat')"
                  :label="$t('fields.lat')"
                  type="number"/>
              </v-flex>
              <v-flex xs6>
                <v-text-field 
                  v-validate="formValidate.lon" 
                  v-model="form['lon']"
                  :error-messages="errors.collect($t('fields.lon'))" 
                  :name="$t('fields.lon')"
                  :label="$t('fields.lon')"
                  type="number"/>
              </v-flex>
              <!-- ////// -->
              <v-flex md6>
                <v-autocomplete
                  v-validate="formValidate.country"
                  :items="countries"
                  v-model="form['country_id']"
                  :error-messages="errors.collect($t('fields.country'))"
                  :name="$t('fields.country')"
                  :no-data-text="$t('common.nodata')"
                  :label="$t('fields.country')"
                  item-value="id"
                  item-text="name"
                  browser-autocomplete="disabled"
                  clearable
                  chips/>
              </v-flex>
              <v-flex md6>
                <v-autocomplete
                  v-validate="formValidate.location"
                  :items="locations"
                  v-model="form['location_id']"
                  :error-messages="errors.collect($t('fields.location'))"
                  :name="$t('fields.location')"
                  :no-data-text="$t('common.nodata')"
                  :label="$t('fields.location')"
                  :loading="loadingLocation"
                  item-text="name"
                  item-value="id"
                  browser-autocomplete="disabled"
                  clearable
                  chips
                />
              </v-flex>
              <!-- ///// -->
              <v-flex xs12>
                <!-- <wysiwyg v-model="form['description']"/> -->
                <quill-editor 
                  v-model="form['description']"
                  :options="{placeholder: 'Description (Optional)'}"
                />
                <!-- <v-textarea 
                  v-validate="formValidate.description" 
                  v-model="form['description']" 
                  :error-messages="errors.collect($t('fields.description'))"
                  :name="$t('fields.description')"
                  :label="$t('fields.description')"/> -->
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn 
            color="error" 
            outline 
            @click.native="close">{{ $t('common.cancel') }}</v-btn>
          <v-btn 
            :disabled="errors.any()" 
            color="primary" 
            outline 
            @click.native="save">{{ $t('common.save') }}</v-btn>
          <v-spacer/>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
    data: () => ({
        headers: [
            {
                text: 'Name',
                value: 'name'
            },
            {
                sortable: false,
                text: 'Country',
                value: 'Country'
            },
            {
                sortable: false,
                text: 'Address',
                value: 'Address'
            },
            {
                sortable: false,
                text: 'Tours',
                value: 'Tours'
            },
            {
                sortable: false,
                text: 'Lat - Long',
                value: 'Lat - Long'
            },
            {
                sortable: false,
                text: 'Actions',
                value: 'actions'
            }
        ],
        rowsLength: [5, 15, 25, { text: 'All', value: -1 }],
        loading: false,
        form: {},
        formValidate: {
            name: {
                required: true
            },
            address: {
                required: true
            },
            lat: {
                required: true
            },
            lon: {
                required: true
            },
            country: {
                required: true
            },
            location: {
                required: true
            }
        },
        countries: [],
        locations: [],

        loadingLocation: false,
        search: null,
        files: [],
        csrf: null,
        dialog: false,
        filterModel: null,
        populatedCountries: [],
        editedIndex: -1,
        items: []
    }),
    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New point' : 'Edit point'
        }
    },
    watch: {
        dialog(val) {
            val || this.close()
        },
        'form.country_id'(val, prep) {
            if (!val) return
            this.loadingLocation = true
            axios.get(`/location?id=${this.form['country_id']}`).then(x => {
                this.locations = x.data.data
                this.loadingLocation = false
            })
        }
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize() {
            this.loading = true
            axios.all([axios.get('/country'), axios.get('/point')]).then(
                axios.spread((countries, point) => {
                    this.items = point.data.data
                    this.countries = countries.data.data
                    this.loading = false
                })
            )
        },
        editItem(item) {
            this.editedIndex = this.items.indexOf(item)
            this.form = Object.assign({}, item)
            this.files = []
            this.$set(this.form, 'country_id', item.location.country_id)
            this.dialog = true
        },
        save() {
            this.$validator.validateAll().then(validated => {
                if (!validated) return
                this.loading = true
                if (this.files.length) {
                    if (this.form['img'] && this.form['img'].length) {
                        this.form['img'] = this.items[
                            this.editedIndex
                        ].img.concat(this.files.map(x => x.response))
                    } else {
                        this.form['img'] = this.files.map(x => x.response)
                    }
                }
                if (this.editedIndex > -1) {
                    let index = this.editedIndex
                    axios
                        .put(`/point/${this.form.id}`, this.form)
                        .then(response => {
                            Object.assign(this.items[index], response.data.data)
                            this.loading = false
                            this.close()
                        })
                } else {
                    axios.post('/point', this.form).then(response => {
                        this.loading = false
                        this.items.push(response.data.data)
                        this.close()
                    })
                }
            })
        },
        deleteItem(item) {
            const index = this.items.indexOf(item)
            confirm(this.$t('common.confirm_delete', { item: 'point' })) &&
                axios
                    .delete(`/point/${this.items[index].id}`)
                    .then(response => {
                        this.items.splice(index, 1)
                    })
        },
        inputFile: function(newFile, oldFile) {
            if (newFile && oldFile && !newFile.active && oldFile.active) {
                // Get response data
                console.log('response', newFile.response)
                if (newFile.xhr) {
                    //  Get the response status code
                    console.log('status', newFile.xhr.status)
                }
                if (this.files[this.files.length - 1].success) {
                    this.$store.commit('snack', {
                        message: 'Images uploaded Succesfully',
                        type: 'success',
                        icon: 'mdi-check'
                    })
                }
            }
        },
        inputFilter: function(newFile, oldFile, prevent) {
            if (newFile && !oldFile) {
                // Filter non-image file
                if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                    return prevent()
                }
            }

            // Create a blob field
            newFile.blob = ''
            let URL = window.URL || window.webkitURL
            if (URL && URL.createObjectURL) {
                newFile.blob = URL.createObjectURL(newFile.file)
            }
        },
        close() {
            this.$refs.form.reset()
            this.form = {}
            this.$validator.reset()
            this.dialog = false
            setTimeout(() => {
                this.editedIndex = -1
            }, 300)
        }
    }
}
</script>

<style>
.example-avatar .text-center .btn {
    margin: 0 0.5rem;
}
.example-avatar .avatar-edit-image {
    max-width: 100%;
}
.example-avatar .drop-active {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    opacity: 0.6;
    text-align: center;
    background: #000;
}
.example-avatar .drop-active h3 {
    margin: -0.5em 0 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    padding: 0;
}
</style>
