<template>
  <v-container 
    fill-height 
    fluid 
    grid-list-xl>
    <v-layout 
      justify-center 
      wrap>
      <v-flex 
        md12 
        justify-end>
        <v-btn 
          dark 
          small 
          color="primary" 
          @click="dialog = !dialog">
          <v-icon dark>mdi-plus</v-icon>New
        </v-btn>

        <material-card color="primary">
          <template slot="header">
            <v-layout justify-center>
              <v-flex xs4>
                <h4 class="title font-weight-light mb-2">users</h4>
                <p class="category font-weight-thin">users</p>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="search"
                  :label="$t('common.search')"
                  class="white--text"
                  append-icon="mdi-search"
                />
              </v-flex>
              <v-flex xs4>
                <v-select
                  v-model="roleFilter"
                  :items="roles"
                  item-text="name"
                  item-value="name"
                  class="white--text"
                  label="Filter by role"
                  clearable
                />
              </v-flex>
            </v-layout>
          </template>
          <v-data-table
            :headers="headers"
            :items="items.filter(x => !roleFilter ? true : x.role == roleFilter)"
            :loading="loading"
            :search="search"
            :rows-per-page-items="rowsLength"
            :no-data-text="$t('common.norecords')"
            :rows-per-page-text="$t('common.rows_per_page')"
          >
            <v-progress-linear 
              slot="progress" 
              color="primary" 
              indeterminate/>
            <template 
              slot="headerCell" 
              slot-scope="{ header }">
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>

            <template 
              slot="items" 
              slot-scope="{ item }">
              <td>{{ item.name }}</td>

              <td class>{{ item.role }}</td>
              <td class>
                <v-icon 
                  small 
                  class="mr-2" 
                  @click="editItem(item)">mdi-pencil</v-icon>
                <v-icon 
                  v-if="user.id != item.id"
                  small 
                  @click="deleteItem(item)">mdi-delete</v-icon>
              </td>
            </template>
            <template slot="footer">
              <v-layout 
                justify-end 
                align-end>
                <v-flex>
                  <td/>
                </v-flex>
              </v-layout>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
    <v-speed-dial 
      fixed 
      bottom 
      right 
      open-on-hover>
      <v-btn 
        slot="activator" 
        color="blue darken-2" 
        dark 
        fab 
        @click="dialog = !dialog">
        <v-icon>mdi-plus</v-icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-dialog 
      v-model="dialog" 
      max-width="800px"
      @keydown.esc="close">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-form 
            ref="form" 
            lazy-validation>
            <v-layout 
              wrap 
              justify-center 
              align-center>
              <v-flex xs10>
                <div 
                  v-if="form['role'] == 'Guide'" 
                  class="example-avatar">
                  <div class="avatar-upload">
                    <div class="text-center p-2">
                      <file-upload
                        ref="upload"
                        v-model="files"
                        :headers="{'X-CSRF-TOKEN': csrf}"
                        name="avatar"
                        post-action="/upload/image"
                        class="text-center p-2"
                        @input-filter="inputFilter" 
                        @input-file="inputFile">
                        <v-img 
                          v-if="!files.length"
                          ref="editImage"
                          src="/img/default-avatar.png"
                          style="margin:0 auto"
                          class="rounded-circle"
                          height="300" 
                          contain/>
                        <template v-else>
                          <v-img 
                            ref="editImage"
                            :src="files[0].blob"
                            style="margin:0 auto"
                            class="rounded-circle"
                            height="300" 
                            contain/>
                          <v-progress-linear
                            v-if="$refs.upload && $refs.upload.active == true"
                            :value="files[0].progress"
                            color="primary"
                            height="5"
                          />
                        </template>
                      </file-upload>
                     
                    </div>
                  </div>
                </div>
              </v-flex>
              <v-flex 
                v-if="form['role'] == 'Guide' && files.length" 
                xs2 >
                <v-btn
                  v-if="!$refs.upload || !$refs.upload.active"
                  slot="activator"
                  class="text-xs-center"
                  fab
                  color="primary"
                  @click.prevent="$refs.upload.active = true"
                >
                  <v-icon 
                    small 
                    dark>mdi-content-save-outline</v-icon>
                </v-btn>
              </v-flex>

              <!-- /////////// -->

              <v-flex xs6>
                <v-text-field
                  v-validate="formValidate.name"
                  v-model="form['name']"
                  :error-messages="errors.collect($t('fields.name'))"
                  :name="$t('fields.name')"
                  :label="$t('fields.name')"
                />
              </v-flex>
              <v-flex xs6>
                <v-select
                  v-validate="formValidate.role"
                  :items="roles"
                  v-model="form['role']"
                  :error-messages="errors.collect($t('fields.role'))"
                  :name="$t('fields.role')"
                  :no-data-text="$t('common.nodata')"
                  :label="$t('fields.role')"
                  item-text="name"
                  item-value="name"
                  browser-autocomplete="disabled"
                  clearable
                  chips
                />
              </v-flex>
              <!-- //////////// -->
              <v-flex 
                :xs4="form.role == 'Guide'" 
                :xs6="form.role != 'Guide'">
                <v-text-field
                  v-validate="formValidate.email"
                  v-model="form['email']"
                  :error-messages="errors.collect($t('fields.email'))"
                  :name="$t('fields.email')"
                  :label="$t('fields.email')"
                  type="email"
                />
              </v-flex>
              <template v-if="form.role == 'Guide'">
                <v-flex xs4>
                  <v-text-field
                    v-validate="formValidate.phone"
                    v-model="form['phone']"
                    :error-messages="errors.collect($t('fields.phone'))"
                    :name="$t('fields.phone')"
                    :label="$t('fields.phone')"
                    type="phone"
                  />
                </v-flex>
                <v-flex xs4>
                  <v-select
                    v-validate="formValidate.rate"
                    :items="rates"
                    v-model="form['rate']"
                    :error-messages="errors.collect($t('fields.rate'))"
                    :name="$t('fields.rate')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.rate')"
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <!-- ////////////// -->
                <v-flex md6>
                  <v-autocomplete
                    v-validate="formValidate.country"
                    :items="countries"
                    v-model="form['country_id']"
                    :error-messages="errors.collect($t('fields.country'))"
                    :name="$t('fields.country')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.country')"
                    item-text="name"
                    item-value="id"
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <v-flex md6>
                  <v-autocomplete
                    v-validate="formValidate.location"
                    :items="locations"
                    v-model="form['location_id']"
                    :error-messages="errors.collect($t('fields.location'))"
                    :name="$t('fields.location')"
                    :no-data-text="$t('common.nodata')"
                    :label="$t('fields.location')"
                    :loading="loading"
                    item-text="name"
                    item-value="id"
                    browser-autocomplete="disabled"
                    clearable
                    chips
                  />
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-validate="formValidate.id"
                    v-model="form['identification']"
                    :error-messages="errors.collect($t('fields.id'))"
                    :name="$t('fields.id')"
                    :label="$t('fields.id')"
                  />
                </v-flex>
              </template>
              <v-flex xs6>
                <v-text-field
                  v-validate="requirePassword ? 'required' : ''"
                  v-model="form['password']"
                  :error-messages="errors.collect($t('fields.password'))"
                  :name="$t('fields.password')"
                  :label="$t('fields.password')"
                />
              </v-flex>
              <v-flex 
                v-if="form['role'] == 'Guide'" 
                xs12 >
                <v-textarea
                  v-validate="formValidate.biography"
                  v-model="form['bio']"
                  :error-messages="errors.collect($t('fields.biography'))"
                  :name="$t('fields.biography')"
                  :label="$t('fields.biography')"
                />
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn 
            color="error" 
            outline 
            @click.native="close">{{ $t('common.cancel') }}</v-btn>
          <v-btn
            :disabled="errors.any()"
            color="primary"
            outline
            @click.native="save"
          >{{ $t('common.save') }}</v-btn>
          <v-spacer/>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
    data: () => ({
        headers: [
            {
                text: 'Name',
                value: 'name'
            },
            {
                sortable: false,
                text: 'Role',
                value: 'Role'
            },
            {
                sortable: false,
                text: 'Actions',
                value: 'actions'
            }
        ],
        rowsLength: [5, 15, 25, { text: 'All', value: -1 }],
        loading: false,
        form: {},
        formValidate: {
            name: {
                required: true
            },
            password: {
                required: true
            },
            email: {
                required: true
            },
            role: {
                required: true
            }
        },
        roles: [],
        files: [],
        rates: [1, 2, 3, 4, 5],
        search: null,
        dialog: false,
        editedIndex: -1,
        items: [],
        roleFilter: null,
        locations: [],
        countries: []
    }),
    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New user' : 'Edit user'
        },
        requirePassword() {
            console.log(!this.editedIndex)
            return this.editedIndex === -1 ? true : false
        }
    },
    watch: {
        'form.country_id'(val, prep) {
            if (!val) return
            this.loading = true
            axios.get(`/location?id=${this.form['country_id']}`).then(x => {
                this.locations = x.data.data
                this.loading = false
            })
        },
        dialog(val) {
            val || this.close()
        }
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize() {
            this.loading = true
            axios
                .all([
                    axios.get('/roles'),
                    axios.get('/user'),
                    axios.get('/country')
                ])
                .then(
                    axios.spread((roles, user, countries) => {
                        this.items = user.data.data
                        this.roles = roles.data.data
                        this.countries = countries.data.data
                        this.loading = false
                    })
                )
        },
        editItem(item) {
            this.editedIndex = this.items.indexOf(item)
            if (item.role == 'Guide') {
                this.files.push({ blob: item.guide.img })
                this.form = Object.assign(this.form, item.guide)
                this.$set(
                    this.form,
                    'country_id',
                    item.guide.location.country_id
                )
            }
            this.form = Object.assign(this.form, item)

            this.dialog = true
        },
        save() {
            this.$validator.validateAll().then(validated => {
                if (!validated) return
                this.loading = true
                if (this.files.length) {
                    this.form['img'] = this.files[0].response
                        ? this.files[0].response
                        : this.files[0].blob
                }
                if (this.form['password'] == '') {
                    delete this.form['password']
                }
                if (this.editedIndex > -1) {
                    let index = this.editedIndex
                    axios
                        .put(`/user/${this.form.id}`, this.form)
                        .then(response => {
                            Object.assign(this.items[index], response.data.data)
                            this.loading = false
                            this.close()
                        })
                } else {
                    axios.post('/user', this.form).then(response => {
                        this.loading = false
                        this.items.push(response.data.data)
                        this.close()
                    })
                }
            })
        },
        deleteItem(item) {
            const index = this.items.indexOf(item)
            confirm(
                this.$t('common.confirm_delete', {
                    item: this.$t('fields.user')
                })
            ) &&
                axios.delete(`/user/${this.items[index].id}`).then(response => {
                    this.items.splice(index, 1)
                })
        },
        inputFile: function(newFile, oldFile) {
            if (newFile && oldFile && !newFile.active && oldFile.active) {
                // Get response data
                console.log('response', newFile.response)
                if (newFile.xhr) {
                    //  Get the response status code
                    console.log('status', newFile.xhr.status)
                }
                if (this.files[this.files.length - 1].success) {
                    this.$store.commit('snack', {
                        message: 'Images uploaded Succesfully',
                        type: 'success',
                        icon: 'mdi-check'
                    })
                }
            }
        },
        inputFilter: function(newFile, oldFile, prevent) {
            if (newFile && !oldFile) {
                // Filter non-image file
                if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                    return prevent()
                }
            }

            // Create a blob field
            newFile.blob = ''
            let URL = window.URL || window.webkitURL
            if (URL && URL.createObjectURL) {
                newFile.blob = URL.createObjectURL(newFile.file)
            }
        },
        close() {
            this.$refs.form.reset()
            this.form = {}
            this.$validator.reset()
            this.files = []
            this.dialog = false
            setTimeout(() => {
                this.editedIndex = -1
            }, 300)
        }
    }
}
</script>

<style>
.example-avatar .avatar-upload .rounded-circle {
    width: 200px;
    height: 200px;
}
.example-avatar .text-center .btn {
    margin: 0 0.5rem;
}
.example-avatar .avatar-edit-image {
    max-width: 100%;
}
.example-avatar .drop-active {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    opacity: 0.6;
    text-align: center;
    background: #000;
}
.example-avatar .drop-active h3 {
    margin: -0.5em 0 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    padding: 0;
}
.file-uploads {
    display: block !important;
}
</style>
