@import "material-dashboard/mixins";
@import "material-dashboard/variables";
@import "material-dashboard/typography";
@import "material-dashboard/sidebar";
@import "material-dashboard/toolbar";
@import "material-dashboard/misc";
@import "material-dashboard/inputs";
@import "material-dashboard/footer";
@import "material-dashboard/cards";
@import "material-dashboard/tables";
@import "material-dashboard/tabs";
@import "material-dashboard/checkboxes";
@import "material-dashboard/tooltips";
@import "material-dashboard/buttons";
@import "material-dashboard/alerts";
@import "material-dashboard/fixed-plugin";
@import "material-dashboard/dropdown";

//custom scss

.v-datatable__progress {
    display: table-row;
}

.white--text .v-text-field__slot .v-label{
    color:white !important;
}

.transparent-bg{
    background:transparent !important;
    background-color:transparent !important;
}

.v-navigation-drawer .v-list .v-list__tile__title{
    font-size: 14px !important;
    font-weight: 300;
    padding: 0;
}
.v-btn--floating, .v-btn--icon:before {
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.v-btn--floating {
    min-width: 0;
    height: 56px;
    width: 56px;
    padding: 0;
}

.v-date-picker-table--month td .v-btn,
.v-date-picker-table .v-btn,
.v-date-picker-header.theme--light .v-btn,
.v-select-list .v-btn {
    color: #333 !important;
}

.v-text-field__slot,
.v-select__slot,
{
    .v-label,::placeholder,{
        font-size:14px !important;
        color:#aaa !important
    }
    
}
.white--text{
    .v-text-field__slot,
.v-select__slot,
{
    .v-label,::placeholder,{
        color:white !important
    }
}
}


.v-dialog {
    .flex {
        padding: 12px;
    }
    .file-uploads .flex{
        padding: 0;
    }
}
.v-dialog .file-uploads .flex

.v-select.v-select--chips .v-select__selections,
.v-input__slot input
 {
    min-height: 42px;
}

.v-chip--label, .v-chip--label .v-chip__content{
        border-radius: 28px;
}

#nprogress .bar {
    background: $brand-primary !important;
    height: 3px!important;
}
.theme--dark.v-navigation-drawer {
    background-color:rgba(27, 27, 27, 0.94);
 }
.v-navigation-drawer .v-list{
    background: transparent !important;
}

.v-card--material__header .v-text-field > .v-input__control > .v-input__slot:after, {
    border-color: rgba(255, 255, 255, 0.50);
}

.quill-editor:not(.bubble) .ql-container, .quill-editor:not(.bubble) .ql-container .ql-editor {
    min-height: 10rem;
    max-height: 35rem;
    padding-bottom: 1rem;
}

.drop-area:hover {
    background-color: #e4e3e3;
  }
  .drop-area {
    cursor: pointer;
    background-color: #f7f7f7;
    border: 2px dotted #d0d0d0;
    padding: 10px;
  }

  .file-uploads{
    display:block !important;
  }

  .bg-white{
      background:white;
  }
  strong{
      font-size:inherit;
      font-weight: bold;
  }