/*!

=========================================================
* Argon Design System - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2018 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/

// Core

@import "bootstrap/functions";
@import "custom/functions";

@import "custom/variables";
@import "bootstrap/variables";

@import "bootstrap/mixins";
@import "custom/mixins";

// Bootstrap components

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

// Custom components

@import "custom/reboot.scss";
@import "custom/global.scss";
@import "custom/utilities.scss";

@import "custom/accordion.scss";
@import "custom/alerts.scss";
@import "custom/avatars.scss";
@import "custom/badge.scss";
@import "custom/buttons.scss";
@import "custom/card.scss";
@import "custom/carousel.scss";
@import "custom/close.scss";
@import "custom/custom-forms.scss";
@import "custom/dropdown.scss";
@import "custom/footer.scss";
@import "custom/forms.scss";
@import "custom/grid.scss";
@import "custom/icons.scss";
@import "custom/input-group.scss";
@import "custom/list-group.scss";
@import "custom/modal.scss";
@import "custom/nav.scss";
@import "custom/navbar.scss";
@import "custom/pagination.scss";
@import "custom/popover.scss";
@import "custom/progress.scss";
@import "custom/section.scss";
@import "custom/separator.scss";
@import "custom/type.scss";

// Vendor

@import "custom/vendor/bootstrap-datepicker.scss";
@import "custom/vendor/headroom.scss";
@import "custom/vendor/nouislider.scss";

//custom styles

.bakanto-shape-home {
    background-image: url('http://bakanto.com/img/adventure-beach.jpg');
    background-size: cover;
    background-position: center;
}

.bakanto-text-home {
    text-transform: uppercase;
    text-shadow: -1px 2px 1px #0e0e0e;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

ul.single-tour-container {
    list-style: none;
    list-style-type: none;
}

.single-tour-container li:first-child {
    border-top: none;
}

.single-tour-container li {
    width: 95%;
    padding: 20px 0 20px 0;
    border-top: 1px solid #E5E5E5;
    float: left;
}

.svgcenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.single-tour-container li .tour-item-title {
    width: 30%;
    float: left;
    font-weight: 600;
}

.single-tour-container li .tour-item-description {
    width: 70%;
    float: right;
    font-size: 16.2px;
    line-height: 1.9;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    color: #303030;
}

.bakanto-shadow,
.section-hero {
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(25%,rgba(0,0,0,0)),color-stop(100%,#2a2a2a));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 25%,#2a2a2a 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 25%,#2a2a2a 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 25%,#2a2a2a 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 25%,#2a2a2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#2a2a2a', GradientType=0 );
}

.btn-search:hover {
    color: #fff;
}

.btn-search {
    padding: .74rem 1rem;
    background-color: #fb6340;
    color: #fff;
    border-color: #de5f43;
}

.navbar-brand img {
    height: 35px;
}

.bakanto-img-top {
    height: 200px;
}
.notification {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
}

body{
    overflow-x: hidden;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
